body {
    background-color: rgb(107, 0, 43);
}
button {
    border: none;
    width: 90px;
    height: 90px;
    background-color: rgb(61, 6, 27);
    border-radius: 50%;
    font-size: 52px;
    font-family: Calibri;
    color: rgb(143, 109, 122);
    cursor: pointer;
}
span {
    font-size: 60px;
    margin-right: 30px;
    margin-left: 30px;
    font-family: Calibri;
    color: rgb(143, 109, 122);
}
div {
    text-align: center;
    margin-top: 20%;
}